.patients-outlet-wrapper {
  display: flex;
  flex-direction: row;
}
.patients-container {
  /* max-width: 367px; */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  flex: 1;
  margin-top: 32px;
}
.outlet {
  flex: 3;
  margin-top: 32px;
}
.patients-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  padding: 20px 20px 0;
}
.Patients_header h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
    var(--unnamed-font-family-manrope);
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
  color: var(--unnamed-color-072635);
  text-align: left;
  color: #072635;
}
.Patients_header .search-icon {
  max-width: 18px;
  height: 18px;
}
.patients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}
/* Style for the active patient item */
.patients.active {
  background: var(--activestate_bg_2) 0% 0% no-repeat padding-box;
  background: #d8fcf7 0% 0% no-repeat padding-box;
}
.patients-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.patients-item img {
  max-width: 48px;
  height: 48px;
  margin-right: 12px;
}
.patients-item .name-gender-age p:nth-of-type(1) {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-manrope);
  font: normal normal bold 14px/19px Manrope;
  line-height: 19px;
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
}
.patients-item .name-gender-age p:nth-of-type(2) {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  font: normal normal normal 14px/19px Manrope;
  line-height: 19px;
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
  color: var(--unnamed-color-707070);
  color: #707070;
  text-align: left;
}
.Horizontal-dotted-line {
  width: 18px;
  height: 4px;
}
