.practitioner-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Practitioner {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid var(--unnamed-color-ededed);
  padding-right: 25px;
}
.Practitioner img {
  max-width: 44px;
  height: 44px;
  margin-right: 8px;
}
.Practitioner .Practitioner-details p:nth-of-type(1) {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-manrope);
  font: normal normal bold 14px/19px var(--unnamed-font-family-manrope);
  color: var(--unnamed-color-072635);
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0px;
  line-height: 19px;
  text-align: left;
}
.Practitioner .Practitioner-details p:nth-of-type(2) {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  letter-spacing: 0px;
}
.settings {
  display: flex;
  flex-direction: row;
}

.settings img:nth-of-type(1) {
  max-width: 19px;
  height: 20px;
  margin: 0 12px;
}
.settings img:nth-of-type(2) {
  max-width: 4px;
  height: 18px;
}
