.menu-content {
  display: flex;
  column-gap: 40px;
  font-family: var(--unnamed-font-family-manrope);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  letter-spacing: 0px;
}
.Menu-Items {
  opacity: 1;
  height: 17px;
}
.menu-content .patients-wrapper{
  background: var(--activestate_bg_1) 0% 0% no-repeat padding-box;
  background: #01F0D0 0% 0% no-repeat padding-box;
  border-radius: 41px;
  width: 122px;
  height: 41px;
  display: flex;
  flex-direction: row;
  place-content: center;
}
.Overview {
  max-width: 16px;
}
.Patients {
  max-width: 24px;
}
.Schedule {
  width: 15px;
}
.Message {
  max-width: 19px;
}
.Transactions {
  max-width: 22px;
}
