.diagnosisHistory {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 32px;
}

.diagnosisHistory h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
    var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0px;
  color: #072635;
  margin-bottom: 40px;
}
.chart-container {
  display: flex;
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 16px;
  min-height: 298px;
}
.chart {
  width: 80%;
}
.legend {
  width: 20%;
}
.diagnosisHistory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.diagnosisHistory-header h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-manrope);
  font: normal normal bold 18px/24px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
}
.diagnosisHistory-header select {
  border: none;
  background-color: inherit;
  margin-right: 30px;
  outline: none;
}
.diagnosisHistory-header option,
.diagnosisHistory-header select {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: right;
}
.diagnosisHistory .legend {
  line-height: normal;
}
.diagnosisHistory .legend .pressure-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-manrope);
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
  margin-bottom: 8px;
}
.diagnosisHistory .legend .horizontal-line {
  margin: 16.5px 0;
}
.diagnosisHistory .legend .pressure-value {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    22px/30px var(--unnamed-font-family-manrope);
  font: normal normal bold 22px/30px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
  margin-bottom: 8px;
}
.diagnosisHistory .legend .pressure-levels {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
  margin-bottom: 8px;
}
.medical-rates {
  display: flex;
  margin-top: 20px;
  column-gap: 21px;
}

.rate {
  flex: 1;
  min-height: 242px;
  border-radius: 12px;
  padding: 16px;
}
.respiratory-rate {
  background: #e0f3fa 0% 0% no-repeat padding-box;
}
.temperature-rate {
  background: #ffe6e9 0% 0% no-repeat padding-box;
}
.heart-rate {
  background: #ffe6f1 0% 0% no-repeat padding-box;
}
.icon {
  width: 96px;
  height: 96px;
}
.respiratory {
  background: transparent url("../../../assets/Respiratory_rate.png") 0% 0%
    no-repeat padding-box;
}
.temperature {
  background: transparent url("../../../assets/Temperature.png") 0% 0% no-repeat
    padding-box;
}

.heart {
  background: transparent url("../../../assets/HeartBPM.png") 0% 0% no-repeat
    padding-box;
}
.medical-rates .rate-title {
  margin-top: 16px;
  font: var(--unnamed-font-style-normal) normal medium 16px/22px
    var(--unnamed-font-family-manrope);
  font: normal normal medium 16px/22px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
}
.medical-rates .rate-value {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    30px/41px var(--unnamed-font-family-manrope);
  font: normal normal 800 30px/41px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
}
.medical-rates .rate-status {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: var(--unnamed-character-spacing-0, 0);
  color: var(--unnamed-color-072635, #072635);
  text-align: left;
}
