.Header-content {
  max-width: 1564px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 70px;
  margin: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  opacity: 1;
  padding: 0 40px;
}
.practitioner-settings{
  display: flex;
  flex-direction: row;
  align-items: center;
}