.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 14px 32px;
  border-radius: 70px;
}
