.App {
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  max-width: 1600px;
  height: 1195px;
  background: #f6f7f8 0% 0% no-repeat padding-box;
  opacity: 1;
}
.Header {
  margin: 18px;
  max-width: 1564px;
  height: 72px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
}
.Patients-DiagnosHistoryList-ProfileLabresults {
  display: flex;
  flex-direction: row;
}
.Patients {
  flex-grow: 2;
}
.Diagnosis-History-List {
  flex-grow: 3;
}
.Profile-LabResults {
  flex-grow: 2;
}
